{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="12-large columns">
			<section>
				<h1>This is the Value CPM Calculator.</h1>
				<button class="valueCPM_button">Get Value CPMs</button>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<section>
				<h1>These are some dummy content blocks</h1>
				<p>They are full of nonsense text...</p>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<section>
				<h1>...but some of them...</h1>
			</section>
		</div>
		<div class="large-6 columns">
			<section>
				<h1>...just might contain...</h1>
				<h3>SECRETS</h3>
			</section>
		</div>
	</div>





	
{% endblock %}