{% extends "base.html" %}

{% block content %}
	<div class="grid-column grid-section">
		<h1 class="grid-cell-center">Settings</h1>
	</div>

	<div class="grid-row grid-section">
		<div class="grid-cell grid-section grid-gutter">
			<p>Here's some dummy content</p>
		</div>
		<div class="grid-cell grid-section grid-gutter">
			<p>Places into some dummy blocks</p>
			<p>That are inside a dummy block</p>
		</div>
	</div>
	
	<div class="grid-row grid-section">
		<h1 class="grid-cell">...but some of them...</h1>
	</div>
	
	<div class="grid-row">
		<h1 class="grid-cell grid-section grid-gutter">...just might contain...</h1>
		<h2 class="grid-cell grid-section grid-gutter">SECRETS</h2>
	</div>
{% endblock %}