nav {
	background-color: $side-menu;
	border-right: 2px solid $white;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;
	flex-flow: wrap;
	flex-grow: 1 1 50%;
	width: 260px;
	float: left;

	> a {
		font-size: 16px;
		font-weight: 700;
		color: $white;
		padding: 4px;
		margin: 4px;
		text-decoration: none;

		&:hover {
			color: $blue-light;
		}
	}

	ul {
		list-style-type: none;

		a {
			padding: 4px;
			margin: 4px;
			text-decoration: none;
			color: $white;

			&:hover {
				color: $blue-light;
			}
		}
	}
}