nav {
	background-color: $gray;
	border-bottom: 1px solid $gray-dark;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-flow: wrap;
	position: fixed;
	top: 0;
	width: 100%;

	> a {
		font-size: 16px;
		font-weight: 700;
		color: $blue;
		padding: 4px;
		margin: 4px;
		text-decoration: none;

		&:hover {
			color: $blue-light;
		}
	}

	ul {
		list-style-type: none;

		a {
			padding: 4px;
			margin: 4px;
			text-decoration: none;
			color: $black;
			position: relative;

			&:hover {
				color: $blue-light;
			}
		}
	}

	.nav-menu-left {
		display: flex;
		align-items: center;
		margin-right: auto;
	}

	.nav-menu-right {
		display: flex;
		align-items: center;
	}
}